.python-version
.venv 
unsloth_compiled_cache
uv.lock
wandb
aws
'=4.56'
awscliv2.zip 
pyproject.toml
scripts/__pycache__
scripts/unsloth_compiled_cache
scripts/=2.19
dataset
out.jsonl
grpo_trainer_lora_model
_unsloth_sentencepiece_temp
